body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f5f7;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 40px;
    background: #ffffff;
    border-bottom: 1px solid #e5e5e5;
}

.logo {
    font-size: 24px;
    font-family: "Noto Serif jp";
    letter-spacing: 0.1em;
    color: #f287e2;
}

.header-buttons {
    display: flex;
    align-items: center;
}

.header-buttons button {
    background: #eeeeee;
    border: 1px solid #a09e9e;
    padding: 5px 16px;
    margin-left: 10px;
    border-radius: 6px;
    font-size: 12px;
}

.header-buttons button:hover {
    background: #dddddd;
}

.btn {
    padding: 5px 16px;
    border-radius: 6px;
    border: 1px solid #a09e9e;
    background-color: #eeeeee;
    color: #000;
    text-decoration: none;
    font-size: 12px;
}