body {
    margin: 0;
    font-family: "Hiragino Sans", "Noto Sans JP", sans-serif;
    background: linear-gradient(180deg, #f9f5ff 0%, #ffffff 100%);
}

.register {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.register__card {
    background: #ffffff;
    width: 100%;
    height: 100%;
    padding: 0px 40px 40px;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
    text-align: center;
    margin: 0 auto;
}

.register__logo {
    font-size: 40px;
    font-weight: normal;
    font-family: "Noto Serif jp";
    letter-spacing: 0.1em;
    color: #f287e2;
    margin-bottom: 5px;
}

.register__title {
    font-size: 22px;
    font-family: "Noto Serif jp";
    font-weight: normal;
    letter-spacing: 0.1em;
    margin:0 0 20px 0;
}

.register__step {
    font-size: 12px;
    color: #888;
    margin-bottom: 15px;
}

.register__form {
    text-align: left;
}

.register__group {
    margin-bottom: 20px;
}

.register__label {
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin: 20px 0px 6px 0px;
}

.register__input-wrap {
    display: flex;
    align-items: center;
}

.register__input-wrap span {
    margin-left: 5px;
    font-size: 12px;
    font-family: "BIZ UDPゴシック";
    margin-top: auto;
}

.register__input {
    width: 100%;
    padding: 10px 40px 10px 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 14px;
}

.register__unit {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: #666;
    font-size: 14px;
}

.register__button {
    width: 60%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 14px;
    color: #fff;
    background: linear-gradient(to right, #cd88fbde, #c99af9, #d68ef7, #f6b1e0, #f8a9de, #f8a9de);
    cursor: pointer;
    margin: 30px auto 15px;
    display: block;
}

.register__button:hover {
    opacity: 0.9;
}

.error {
    font-size: 12px;
    color: #ff4d4d;
    margin-top: 4px;
}

.register__link {
    text-align: center;
    font-size: 13px;
    margin-bottom: 0px;
}

.register__login-link {
    color: #48b5ec;
}

.register__link a {
    color: #48b5ec;
}

::placeholder {
    color: #c7c5c5;
    font-size: 12px;
}

a {
    font-size: 12px;
}